@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face { font-family: JuneBug; src: url('HelpMe.ttf'); }

body {
    padding: 50px;
    font: 20px JuneBug, Helvetica, Arial, sans-serif;
    background-color:black;
    color:white;
  
  
  }

  .container{display:grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
   /* grid-template-columns: autofit autofit autofit;  */   
   justify-content: center;
      gap:20px;
      padding:10px;
    }

    .item{background-color: white;
          border:solid rgb(182, 22, 22) 2px;
          display:flex;
          align-items: center;
          justify-content: center;
        }

    .item a{display: block;
            }


            /*star rating styling*/

            .rating {
              display: inline-block;
              position: relative;
              height: 50px;
              line-height: 50px;
              font-size: 50px;
            }
            
            .rating label {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              cursor: pointer;
            }
            
            .rating label:last-child {
              position: static;
            }
            
            .rating label:nth-child(1) {
              z-index: 5;
            }
            
            .rating label:nth-child(2) {
              z-index: 4;
            }
            
            .rating label:nth-child(3) {
              z-index: 3;
            }
            
            .rating label:nth-child(4) {
              z-index: 2;
            }
            
            .rating label:nth-child(5) {
              z-index: 1;
            }
            
            .rating label input {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
            
            .rating label .icon {
              float: left;
              color: transparent;
            }
            
            .rating label:last-child .icon {
              color: #fafafa;
            }
            
            .rating:not(:hover) label input:checked ~ .icon,
            .rating:hover label:hover input ~ .icon {
              color: rgba(43, 255, 0, 0.637);
            }
            
            .rating label input:focus:not(:checked) ~ .icon:last-child {
              color: #f3f0f0;
              text-shadow: 0 0 5px rgb(11, 187, 49);
            }